*.iml
.gradle
.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

.project
.settings/
app/.classpath
app/.project
app/.settings/
openCVLibrary343/.classpath
openCVLibrary343/.project
openCVLibrary343/.settings/
