*.iml
.gradle
.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
src/main/assets/datasets/yolov3.cfg
src/main/assets/datasets/yolov3.weights
src/main/assets/datasets/coco.names